.DS_Store
.tmp
.idea
.log
.env

node_modules
recordings
screenshots
codeOutput
dist
docs
backup
devclinic
backup/devclinic
report/prod[1-9].html
report/last.html

npm-debug.log

scripts/*/*.json
uploads/*

